.list-categories {
    li {
        text-align: center;
        position: relative;
        list-style-type: none;
    }
    h3 {
        margin-top: 10px;
        font-size: 20px;
        a {
            color: #383838;
            .font;
            &:hover {
                text-decoration: none;
            }
        }
    }
    .img-wrapper {
        display: inline-block;
        img {
            max-height: 200px;
            margin: auto;
        }
    }
    .price {
        position: absolute;
        bottom: 5px;
        right: 0;
        background: #e8e7e7;
        padding: 3px 7px;
        color: #383838;
        font-size: 12px;
        font-weight: bold;
    }
}