// mixins variables
@default-border-radius:     0;
@default-text-shadow:       0 1px 3px rgba(0, 0, 0, 0.25);
@default-box-shadow-blur:   2px;
@default-box-shadow-alpha:  0;

// font variables
@fallback-fonts:        'Arial', 'Tahoma', 'Verdana', sans-serif;
@default-regular-font:  'pt_sans_narrowregular';
@default-headline-font: 'pt_sans_narrowregular';

// color variables
@yellow-color:          #ffb500;