#map {
    min-height: 300px;
    padding: 0;
    > * {
        display: none;
    }
    iframe {
        display: block;
        width: 100%;
        height: 100%;
        min-height: 300px;
    }
}
#contact-headline {
    padding-bottom: 10px;
    border-bottom: 1px solid #d4d4d4;
    margin-bottom: 25px;
    font-size: 20px;
}