// mixins
.font-face (@font-family, @font-source, @font-folder: 'fonts', @font-weight: 'normal', @font-style: 'normal') {
    font-family: @font-family;
    src: url('../@{font-folder}/@{font-source}-webfont.eot');
    src: url('../@{font-folder}/@{font-source}-webfont.eot?#iefix') format('embedded-opentype'),
         url('../@{font-folder}/@{font-source}-webfont.svg#@{font-source}') format('svg'),
         url('../@{font-folder}/@{font-source}-webfont.woff') format('woff'),
         url('../@{font-folder}/@{font-source}-webfont.ttf') format('truetype');
    font-weight: @font-weight;
    font-style: @font-style;
}
.font (@font-family: regular) {
    font-family: '@{default-@{font-family}-font}', @fallback-fonts;
}
.border-radius (@radius: @default-border-radius,...) {
    -webkit-border-radius: @arguments;
       -moz-border-radius: @arguments;
            border-radius: @arguments;
}
.round () {
    .border-radius (100em);
}
.box-shadow (@x: 0px, @y: 0px, @blur: @default-box-shadow-blur, @alpha: @default-box-shadow-alpha) {
    -webkit-box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
       -moz-box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
            box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
}
.text-shadow (@shadow: @default-text-shadow) {
    text-shadow: @shadow;
}
.gradient (@origin: left, @start: #ffffff, @stop: #000000) {
    background-color: @start;
    background-image: -webkit-linear-gradient(@origin, @start, @stop);
    background-image:    -moz-linear-gradient(@origin, @start, @stop);
    background-image:      -o-linear-gradient(@origin, @start, @stop);
    background-image:     -ms-linear-gradient(@origin, @start, @stop);
    background-image:         linear-gradient(@origin, @start, @stop);
}
.quick-gradient (@origin: left, @alpha: 0.2) {
    background-image: -webkit-linear-gradient(@origin, rgba(0,0,0,0.0), rgba(0,0,0,@alpha));
    background-image:    -moz-linear-gradient(@origin, rgba(0,0,0,0.0), rgba(0,0,0,@alpha));
    background-image:      -o-linear-gradient(@origin, rgba(0,0,0,0.0), rgba(0,0,0,@alpha));
    background-image:     -ms-linear-gradient(@origin, rgba(0,0,0,0.0), rgba(0,0,0,@alpha));
    background-image:         linear-gradient(@origin, rgba(0,0,0,0.0), rgba(0,0,0,@alpha));
}
.transition (@prop: all, @time: 1s, @ease: linear) {
    -webkit-transition: @prop @time @ease;
       -moz-transition: @prop @time @ease;
         -o-transition: @prop @time @ease;
        -ms-transition: @prop @time @ease;
            transition: @prop @time @ease;
}
.transform (@rotate: 90deg, @scale: 1, @skew: 1deg, @translate: 10px) {
    -webkit-transform: rotate(@rotate) scale(@scale) skew(@skew) translate(@translate);
       -moz-transform: rotate(@rotate) scale(@scale) skew(@skew) translate(@translate);
         -o-transform: rotate(@rotate) scale(@scale) skew(@skew) translate(@translate);
        -ms-transform: rotate(@rotate) scale(@scale) skew(@skew) translate(@translate);
            transform: rotate(@rotate) scale(@scale) skew(@skew) translate(@translate);
}
.reflection (@length: 50%, @opacity: 0.2) {
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(@length, transparent), to(rgba(255, 255, 255, @opacity)));
}
.ieFix () {
    filter: none;
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(enabled = false)";
}