@import "function.less";

// full screen min layout
html,
body {
  color: #fff;
  height: 100%;
  background: #c0c0c0;
}
body {
  min-height: 100%;
  .font
}

// negative margin override for bootstrap
.container-fluid {
    padding: 0 15px;
}

// sprite
.sprite {
    background-image:url('../image/sprite.png');
    background-repeat: no-repeat;
    background-color: transparent !important;
    display: inline-block;
    &.header-search-icon {
        width: 30px;
        height: 31px;
        background-position: 0 0;
    }
    &.header-search-icon {
        width: 30px;
        height: 31px;
        background-position: 0 0;
    }
    &.header-basket-icon {
        width: 45px;
        height: 45px;
        background-position: 0 -31px;
    }
}

// modal
.modal {
    color: #454545;
    .modal-header {
        border-width: 0;
    }
}

// button
.btn {
    border-radius: 0;
    &.btn-black {
        background: #5c5c5b;
        color: #fff;
    }
    &.btn-darkblack {
        background: #4b4b4b;
        color: #fff;
    }
    &.btn-red {
        background: #d13a3a;
        color: #fff;
    }
}

// carousel
.carousel-inner {
    width: 100%;
    >.item {
        width: 100%;
        >img {
            height: 100%;
            width: 100%;
        }
    }
}
.background-carousel {
    position: fixed;
    top: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    .item {
        background: #333;
        text-align: center;
        img {
            width: 100%;
            margin: auto;
            height: auto;
        }
    }
    .carousel-indicators {
        position: absolute;
        bottom: 25px;
        z-index: 99;
        li {
            background-color: #fff;
            border: 0;
            &.active {
                background-color: #2c2c2c;
            }
        }
    }
}

// form
.form-horizontal {
    .form-group {
        margin-bottom: 10px;
        label {
            text-transform: uppercase;
            color: #000;
            font-size: 14px;
            font-weight: 400;
            text-align: left;
        }
        input[type="text"], input[type="number"], input[type="password"], textarea {
            background: #dadada;
            border-color: transparent;
            border-radius: 0;
            &:focus {
                box-shadow: none;
                border-color: #999;
            }
        }
        .col-lg-offset-3 {
            text-align: left;
        }
    }
    .errors {
        ul {
            padding-top: 10px;
            margin-bottom: 2px;
        }
    }
    .btn {
        &.btn-primary {
            background-color: #f39c12;
            border-color: #de9015;
        }
    }
}
#form {
    padding: 0 15px;
}
.form-header {
    margin-top: 0;
    margin-bottom: 10px;
}

// content
#wrapper {
    padding: 0 15px 90px;
    margin: 0 0 -90px;
    height: auto;
    min-height: 100%;
    color: #383838;
    position: relative;
    z-index: 2;
    h1, h2, h3, h4, h5, h6 {
        .font;
    }
}
#content {
    position: relative;
    z-index: 2;
}

// header
#header {
    height: 68px;
    .navbar {
        min-height: 40px;
        line-height: 40px;
        border: 0;
        background: transparent url('../image/header-background.png');
    }
    .navbar-nav {
        padding-right: 80px;
        > li {
            font-size: 14px;
            color: #fff;
            margin: 0 5px;
            > a {
                color: #fff;
                padding: 0;
                line-height: 40px;
            }
        }
    }
}
#header-search {
    input {
        color: #fff;
        border: 0;
        height: 29px;
        max-width: 150px;
        line-height: 24px;
        padding: 2px 45px 2px 5px;
        background: transparent url('../image/header-background-input.png');
    }
    a {
        position: absolute;
        top: 8px;
        right: 5px;
    }
}
#header-shopcart-status {
    max-width: 90px;
    font-size: 13px !important;
    line-height: 16px !important;
    min-height: 30px;
    padding: 5px 0;
}
#header-shopcart-basket {
    display: block;
    width: 65px;
    min-height: 52px;
    padding: 10px;
    position: absolute;
    right: 15px;
    .background {
        width: 65px;
        height: 25px;
        position: absolute;
        bottom: -15px;
        left: 0;
        z-index: 0;
        background: transparent url('../image/header-background.png');
    }
    > a {
        position: absolute;
        z-index: 2;
        bottom: -5px;
    }
}
#header-shopcart-products-list {
    padding-bottom: 20px;
    position: relative;
    top: auto;
    margin-left: -105px;
    margin-top: 32px;
    width: 160px;
    z-index: 1;
    background: transparent url('../image/header-background.png');
    border: 0;
    .border-radius(0);
    li {
        text-indent: 10px;
    }
    a {
        color: #fff;
        padding: 0;
        background: transparent;
        display: inline-block;
        text-indent: 0;
        &:hover, &:focus {
            background: transparent;
        }
    }
}

// footer
#footer {
    position: relative;
    z-index: 3;
    height: 40px;
    padding-top: 50px;
    >.navbar {
        min-height: 40px;
        line-height: 40px;
    }
    .navbar {
        border: 0;
        background: transparent;
        z-index: 1;
        margin: 0;
    }
    .navbar-nav {
        > li {
            font-size: 16px;
            color: #fff;
            > a {
                color: #fff;
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }
    }
}
#navbar-footer {
    li:first-child {
        display: none;
    }
}

// box content
#box-navigation {
    padding: 30px 10px 30px 0;
    >li {
        padding: 5px 10%;
        >a {
            color: #fff;
            font-size: 24px;
        }
    }
    li {
        list-style-type: none;
        a {
            text-transform: uppercase;
        }
    }
    ul {
        padding-left: 0;
        li {
            padding: 0;
            margin: 5px 0;
        }
        a {
            text-decoration: none;
            color: #fff;
            padding: 2px 30px;
            &:hover, &:focus,
            &.active {
                background: transparent url('../image/box-background-dropdown.png');
            }
        }
    }
}

// content container
.main-container {
    background: transparent url('../image/content-background.png');
    margin-top: 20px;
    padding: 5px;
    .well {
        padding-top: 84px;
        margin: 0;
        border-radius: 0;
        min-height: 200px;
        position: relative;
        border: 0;
        &.product-description {
            padding-top: 20px;
        }
    }
    .content-hgroup {
        position: absolute;
        top: 0;
        left: 0;
        h1 {
            height: 64px;
            line-height: 65px;
            background: #383838;
            display: inline-block;
            margin: 0;
            color: #fff;
            padding: 0 35px;
            position: relative;
            .font;
            .triangle {
                display: inline-block;
                position: absolute;
                right: -64px;
                top: 0;
                width: 0px;
                height: 0px;
                border-style: solid;
                border-width: 64px 64px 0 0;
                border-color: #383838 transparent transparent transparent;
            }
        }
        h2 {
            margin: 0 0 0 80px;
            display: inline-block;
            font-size: 18px;
            height: 64px;
            line-height: 64px;
        }
    }
    .gray {
        .form-header, h3, label {
            color: #b9b9b9;
        }
    }
}