.shopcart-collapsable {
    border: 1px solid #000;
    padding: 0 20px;
    h2.form-header {
        background: #383838;
        color: #fff;
        padding: 10px 22px;
        font-size: 16px;
        margin:0 -20px 20px;
    }
    fieldset {
        padding-bottom: 20px;
    }
}
.list-invoice {
    margin-bottom: -1px;
}
#order-person-select {
    padding: 0 15px;
    input {
        display: inline-block;
        margin-right: 10px;
    }
}
.invoice-bottom-padded {
    padding-bottom: 20px;
}
#order-summary {
    .total {
        padding-top: 10px;
        padding-bottom: 10px;
        background: #383838;
        color: #fff;
        margin: 0 -20px 0;
        font-size: 20px;
    }
}
#order-final {
    padding: 10px 0 5px;
    p {
        padding: 15px 0;
    }
}