.product-description {
    h1 {
        margin-top: 0;
        font-size: 24px;
        padding: 5px 10px 15px;
        border-bottom: 1px solid #cdcdcd;
    }
    .product-gallery {
        border: 1px solid #e2e2e2;
        padding: 5px;
    }
}

#image-carousel {
    position: relative;
    z-index: 2;
    min-height: 250px;
    .carousel-inner {
        min-height: 250px;
    }
    img {
        max-height: 250px;
        margin: auto;
        max-width: 100%;
        width: auto;
    }
}

.stock-info {
    margin-top: 10px;
    background: #dc8c0d;
    color: #fff;
    strong {
        display: block;
        background: #f39c12;
        font-weight: 400;
        padding: 5px;
    }
    .description {
        padding: 5px;
    }
    .bottom-display {
        color: #fff;
        text-decoration: underline;
    }
}

#simmilar {
    .image {
        display: block;
        margin: 0 auto 10px;
        min-height: 40px;
        max-height: 70px;
        text-align: center;
        img {
            max-height: 70px;
            margin: auto;
        }
    }
    h3 {
        border-bottom: 1px solid #e2e2e2;
        padding-bottom: 15px;
    }
    .btn {
        white-space: pre-wrap;
        font-size: 12px;
        background: #383838;
        padding-top: 0;
        padding-bottom: 0;
        &:hover, &:focus {
            background: #f39c12;
            color: #fff;
        }
    }
}

.technology-list {
    padding: 10px 0;
    li {
        position: relative;
        list-style-type: none;
    }
    img {
        max-width: 50px;
    }
}


#product-tabbed-description {
    .nav-tabs {
        border-width: 0;
        li {
            border: 0;
            &.active,
            &:hover, &:focus {
                a {
                    border-color: transparent;
                    background: #4a4b4b;
                    color: #fff;
                }
            }
            a {
                border-radius: 0;
                color: #000;
                text-align: center;
            }
        }
    }
}

.tab-content {
    padding: 15px 5px 10px;
    p {
        margin-bottom: 5px;
    }
}

#product-shopcart-options {
    .btn {
        height: 52px;
        line-height: 42px;
        padding: 5px 10px;
        border: 1px solid #eae9e9;
    }
    input {
        border: 0;
        height: 38px;
        line-height: 38px;
        padding: 0 5px;
    }
}

.pdf-link {
    color: #000;
}