.list-products {
    li {
        text-align: center;
        position: relative;
        list-style-type: none;
    }
    h3 {
        text-align: left;
        margin: 0;
        position: absolute;
        z-index: 3;
        top: 5px;
        left: 20px;
        max-width: 75%;
        font-size: 14px;
        a {
            color: #383838;
            .font;
        }
    }
    .background {
        width: 100%;
        max-height: 294px;
    }
    .img-wrapper {
        display: block;
        position: absolute;
        top: 15px;
        left: 10%;
        width: 80%;
        height: 84%;
        img {
            max-height: 90%;
            margin: auto;
        }
    }
    .price {
        position: absolute;
        bottom: 5px;
        right: 0;
        background: #e8e7e7;
        padding: 3px 7px;
        color: #383838;
        font-size: 12px;
        font-weight: bold;
    }
}
.list-criteria {
    background: #e5e5e5;
    h3 {
        margin: 0 0 10px;
        font-size: 20px;
    }
    ul {
        list-style-type: none;
        padding: 15px;
        ul {
            padding: 0 0 10px;
        }
    }
    label {
        font-weight: 400;
        font-size: 14px;
    }
    .headline {
        padding: 20px 15px 5px;
    }
}