.list-shopcart {
    padding: 0;
    border: 1px solid #383838;
    li {
        border-top: 1px solid #e2e2e2;
        list-style-type: none;
        background-color: transparent;
        &.heading {
            border-width: 0;
            padding-bottom: 0;
            padding-top: 0;
            .row {
                >div {
                    background: #383838;
                    color: #fff;
                }
            }
            &+li {
                border-width: 0;
            }
        }
        &:hover, &:focus {
            background-color: #eee;
        }
        .row {
            >div {
                display: table-cell;
                padding-top: 8px;
                padding-bottom: 8px;
            }
        }
    }
    img {
        max-height: 60px;
        width: auto;
    }
    .link {
        color: #383838;
    }
    .update-cart {
        max-width: 40px;
        text-align: center;
        border: 1px solid #cfcfcf;
        .border-radius(0);
    }
    .delete-from-cart {
        color: #383838;
        &:hover, &:focus {
            color: #d03939;
        }
    }
}
.shopcart-display {
    .no-items {
        font-size: 18px;
        text-align: center;
    }
}
#shopcart-summary {
    font-size: 18px;
}