@import "plugins/lightbox/carbono/jquery.lightbox.css";
@font-face {
  font-family: 'pt_sans_narrowregular';
  src: url('../fonts/pt-sans-webfont.eot');
  src: url('../fonts/pt-sans-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/pt-sans-webfont.svg#pt-sans') format('svg'), url('../fonts/pt-sans-webfont.woff') format('woff'), url('../fonts/pt-sans-webfont.ttf') format('truetype');
  font-weight: 'normal';
  font-style: 'normal';
}
html,
body {
  color: #fff;
  height: 100%;
  background: #c0c0c0;
}
body {
  min-height: 100%;
  font-family: 'pt_sans_narrowregular', 'Arial', 'Tahoma', 'Verdana', sans-serif;
}
.container-fluid {
  padding: 0 15px;
}
.sprite {
  background-image: url('../image/sprite.png');
  background-repeat: no-repeat;
  background-color: transparent !important;
  display: inline-block;
}
.sprite.header-search-icon {
  width: 30px;
  height: 31px;
  background-position: 0 0;
}
.sprite.header-search-icon {
  width: 30px;
  height: 31px;
  background-position: 0 0;
}
.sprite.header-basket-icon {
  width: 45px;
  height: 45px;
  background-position: 0 -31px;
}
.modal {
  color: #454545;
}
.modal .modal-header {
  border-width: 0;
}
.btn {
  border-radius: 0;
}
.btn.btn-black {
  background: #5c5c5b;
  color: #fff;
}
.btn.btn-darkblack {
  background: #4b4b4b;
  color: #fff;
}
.btn.btn-red {
  background: #d13a3a;
  color: #fff;
}
.carousel-inner {
  width: 100%;
}
.carousel-inner > .item {
  width: 100%;
}
.carousel-inner > .item > img {
  height: 100%;
  width: 100%;
}
.background-carousel {
  position: fixed;
  top: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
}
.background-carousel .item {
  background: #333;
  text-align: center;
}
.background-carousel .item img {
  width: 100%;
  margin: auto;
  height: auto;
}
.background-carousel .carousel-indicators {
  position: absolute;
  bottom: 25px;
  z-index: 99;
}
.background-carousel .carousel-indicators li {
  background-color: #fff;
  border: 0;
}
.background-carousel .carousel-indicators li.active {
  background-color: #2c2c2c;
}
.form-horizontal .form-group {
  margin-bottom: 10px;
}
.form-horizontal .form-group label {
  text-transform: uppercase;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}
.form-horizontal .form-group input[type="text"],
.form-horizontal .form-group input[type="number"],
.form-horizontal .form-group input[type="password"],
.form-horizontal .form-group textarea {
  background: #dadada;
  border-color: transparent;
  border-radius: 0;
}
.form-horizontal .form-group input[type="text"]:focus,
.form-horizontal .form-group input[type="number"]:focus,
.form-horizontal .form-group input[type="password"]:focus,
.form-horizontal .form-group textarea:focus {
  box-shadow: none;
  border-color: #999;
}
.form-horizontal .form-group .col-lg-offset-3 {
  text-align: left;
}
.form-horizontal .errors ul {
  padding-top: 10px;
  margin-bottom: 2px;
}
.form-horizontal .btn.btn-primary {
  background-color: #f39c12;
  border-color: #de9015;
}
#form {
  padding: 0 15px;
}
.form-header {
  margin-top: 0;
  margin-bottom: 10px;
}
#wrapper {
  padding: 0 15px 90px;
  margin: 0 0 -90px;
  height: auto;
  min-height: 100%;
  color: #383838;
  position: relative;
  z-index: 2;
}
#wrapper h1,
#wrapper h2,
#wrapper h3,
#wrapper h4,
#wrapper h5,
#wrapper h6 {
  font-family: 'pt_sans_narrowregular', 'Arial', 'Tahoma', 'Verdana', sans-serif;
}
#content {
  position: relative;
  z-index: 2;
}
#header {
  height: 68px;
}
#header .navbar {
  min-height: 40px;
  line-height: 40px;
  border: 0;
  background: transparent url('../image/header-background.png');
}
#header .navbar-nav {
  padding-right: 80px;
}
#header .navbar-nav > li {
  font-size: 14px;
  color: #fff;
  margin: 0 5px;
}
#header .navbar-nav > li > a {
  color: #fff;
  padding: 0;
  line-height: 40px;
}
#header-search input {
  color: #fff;
  border: 0;
  height: 29px;
  max-width: 150px;
  line-height: 24px;
  padding: 2px 45px 2px 5px;
  background: transparent url('../image/header-background-input.png');
}
#header-search a {
  position: absolute;
  top: 8px;
  right: 5px;
}
#header-shopcart-status {
  max-width: 90px;
  font-size: 13px !important;
  line-height: 16px !important;
  min-height: 30px;
  padding: 5px 0;
}
#header-shopcart-basket {
  display: block;
  width: 65px;
  min-height: 52px;
  padding: 10px;
  position: absolute;
  right: 15px;
}
#header-shopcart-basket .background {
  width: 65px;
  height: 25px;
  position: absolute;
  bottom: -15px;
  left: 0;
  z-index: 0;
  background: transparent url('../image/header-background.png');
}
#header-shopcart-basket > a {
  position: absolute;
  z-index: 2;
  bottom: -5px;
}
#header-shopcart-products-list {
  padding-bottom: 20px;
  position: relative;
  top: auto;
  margin-left: -105px;
  margin-top: 32px;
  width: 160px;
  z-index: 1;
  background: transparent url('../image/header-background.png');
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
#header-shopcart-products-list li {
  text-indent: 10px;
}
#header-shopcart-products-list a {
  color: #fff;
  padding: 0;
  background: transparent;
  display: inline-block;
  text-indent: 0;
}
#header-shopcart-products-list a:hover,
#header-shopcart-products-list a:focus {
  background: transparent;
}
#footer {
  position: relative;
  z-index: 3;
  height: 40px;
  padding-top: 50px;
}
#footer > .navbar {
  min-height: 40px;
  line-height: 40px;
}
#footer .navbar {
  border: 0;
  background: transparent;
  z-index: 1;
  margin: 0;
}
#footer .navbar-nav > li {
  font-size: 16px;
  color: #fff;
}
#footer .navbar-nav > li > a {
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}
#navbar-footer li:first-child {
  display: none;
}
#box-navigation {
  padding: 30px 10px 30px 0;
}
#box-navigation > li {
  padding: 5px 10%;
}
#box-navigation > li > a {
  color: #fff;
  font-size: 24px;
}
#box-navigation li {
  list-style-type: none;
}
#box-navigation li a {
  text-transform: uppercase;
}
#box-navigation ul {
  padding-left: 0;
}
#box-navigation ul li {
  padding: 0;
  margin: 5px 0;
}
#box-navigation ul a {
  text-decoration: none;
  color: #fff;
  padding: 2px 30px;
}
#box-navigation ul a:hover,
#box-navigation ul a:focus,
#box-navigation ul a.active {
  background: transparent url('../image/box-background-dropdown.png');
}
.main-container {
  background: transparent url('../image/content-background.png');
  margin-top: 20px;
  padding: 5px;
}
.main-container .well {
  padding-top: 84px;
  margin: 0;
  border-radius: 0;
  min-height: 200px;
  position: relative;
  border: 0;
}
.main-container .well.product-description {
  padding-top: 20px;
}
.main-container .content-hgroup {
  position: absolute;
  top: 0;
  left: 0;
}
.main-container .content-hgroup h1 {
  height: 64px;
  line-height: 65px;
  background: #383838;
  display: inline-block;
  margin: 0;
  color: #fff;
  padding: 0 35px;
  position: relative;
  font-family: 'pt_sans_narrowregular', 'Arial', 'Tahoma', 'Verdana', sans-serif;
}
.main-container .content-hgroup h1 .triangle {
  display: inline-block;
  position: absolute;
  right: -64px;
  top: 0;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 64px 64px 0 0;
  border-color: #383838 transparent transparent transparent;
}
.main-container .content-hgroup h2 {
  margin: 0 0 0 80px;
  display: inline-block;
  font-size: 18px;
  height: 64px;
  line-height: 64px;
}
.main-container .gray .form-header,
.main-container .gray h3,
.main-container .gray label {
  color: #b9b9b9;
}
#fourzerofour-description {
  text-align: center;
  font-size: 20px;
}
#map {
  min-height: 300px;
  padding: 0;
}
#map > * {
  display: none;
}
#map iframe {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 300px;
}
#contact-headline {
  padding-bottom: 10px;
  border-bottom: 1px solid #d4d4d4;
  margin-bottom: 25px;
  font-size: 20px;
}
#login-wrapper {
  display: inline-block;
  min-width: 400px;
}
#login-wrapper .well {
  min-height: 0;
}
#offer-wrapper,
#forgot-wrapper {
  display: inline-block;
  min-width: 600px;
}
#offer-wrapper .well,
#forgot-wrapper .well {
  min-height: 0;
}
#forgot-wrapper {
  min-width: 450px;
}
.list-categories li {
  text-align: center;
  position: relative;
  list-style-type: none;
}
.list-categories h3 {
  margin-top: 10px;
  font-size: 20px;
}
.list-categories h3 a {
  color: #383838;
  font-family: 'pt_sans_narrowregular', 'Arial', 'Tahoma', 'Verdana', sans-serif;
}
.list-categories h3 a:hover {
  text-decoration: none;
}
.list-categories .img-wrapper {
  display: inline-block;
}
.list-categories .img-wrapper img {
  max-height: 200px;
  margin: auto;
}
.list-categories .price {
  position: absolute;
  bottom: 5px;
  right: 0;
  background: #e8e7e7;
  padding: 3px 7px;
  color: #383838;
  font-size: 12px;
  font-weight: bold;
}
.list-products li {
  text-align: center;
  position: relative;
  list-style-type: none;
}
.list-products h3 {
  text-align: left;
  margin: 0;
  position: absolute;
  z-index: 3;
  top: 5px;
  left: 20px;
  max-width: 75%;
  font-size: 14px;
}
.list-products h3 a {
  color: #383838;
  font-family: 'pt_sans_narrowregular', 'Arial', 'Tahoma', 'Verdana', sans-serif;
}
.list-products .background {
  width: 100%;
  max-height: 294px;
}
.list-products .img-wrapper {
  display: block;
  position: absolute;
  top: 15px;
  left: 10%;
  width: 80%;
  height: 84%;
}
.list-products .img-wrapper img {
  max-height: 90%;
  margin: auto;
}
.list-products .price {
  position: absolute;
  bottom: 5px;
  right: 0;
  background: #e8e7e7;
  padding: 3px 7px;
  color: #383838;
  font-size: 12px;
  font-weight: bold;
}
.list-criteria {
  background: #e5e5e5;
}
.list-criteria h3 {
  margin: 0 0 10px;
  font-size: 20px;
}
.list-criteria ul {
  list-style-type: none;
  padding: 15px;
}
.list-criteria ul ul {
  padding: 0 0 10px;
}
.list-criteria label {
  font-weight: 400;
  font-size: 14px;
}
.list-criteria .headline {
  padding: 20px 15px 5px;
}
.product-description h1 {
  margin-top: 0;
  font-size: 24px;
  padding: 5px 10px 15px;
  border-bottom: 1px solid #cdcdcd;
}
.product-description .product-gallery {
  border: 1px solid #e2e2e2;
  padding: 5px;
}
#image-carousel {
  position: relative;
  z-index: 2;
  min-height: 250px;
}
#image-carousel .carousel-inner {
  min-height: 250px;
}
#image-carousel img {
  max-height: 250px;
  margin: auto;
  max-width: 100%;
  width: auto;
}
.stock-info {
  margin-top: 10px;
  background: #dc8c0d;
  color: #fff;
}
.stock-info strong {
  display: block;
  background: #f39c12;
  font-weight: 400;
  padding: 5px;
}
.stock-info .description {
  padding: 5px;
}
.stock-info .bottom-display {
  color: #fff;
  text-decoration: underline;
}
#simmilar .image {
  display: block;
  margin: 0 auto 10px;
  min-height: 40px;
  max-height: 70px;
  text-align: center;
}
#simmilar .image img {
  max-height: 70px;
  margin: auto;
}
#simmilar h3 {
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 15px;
}
#simmilar .btn {
  white-space: pre-wrap;
  font-size: 12px;
  background: #383838;
  padding-top: 0;
  padding-bottom: 0;
}
#simmilar .btn:hover,
#simmilar .btn:focus {
  background: #f39c12;
  color: #fff;
}
.technology-list {
  padding: 10px 0;
}
.technology-list li {
  position: relative;
  list-style-type: none;
}
.technology-list img {
  max-width: 50px;
}
#product-tabbed-description .nav-tabs {
  border-width: 0;
}
#product-tabbed-description .nav-tabs li {
  border: 0;
}
#product-tabbed-description .nav-tabs li.active a,
#product-tabbed-description .nav-tabs li:hover a,
#product-tabbed-description .nav-tabs li:focus a {
  border-color: transparent;
  background: #4a4b4b;
  color: #fff;
}
#product-tabbed-description .nav-tabs li a {
  border-radius: 0;
  color: #000;
  text-align: center;
}
.tab-content {
  padding: 15px 5px 10px;
}
.tab-content p {
  margin-bottom: 5px;
}
#product-shopcart-options .btn {
  height: 52px;
  line-height: 42px;
  padding: 5px 10px;
  border: 1px solid #eae9e9;
}
#product-shopcart-options input {
  border: 0;
  height: 38px;
  line-height: 38px;
  padding: 0 5px;
}
.pdf-link {
  color: #000;
}
.list-shopcart {
  padding: 0;
  border: 1px solid #383838;
}
.list-shopcart li {
  border-top: 1px solid #e2e2e2;
  list-style-type: none;
  background-color: transparent;
}
.list-shopcart li.heading {
  border-width: 0;
  padding-bottom: 0;
  padding-top: 0;
}
.list-shopcart li.heading .row > div {
  background: #383838;
  color: #fff;
}
.list-shopcart li.heading + li {
  border-width: 0;
}
.list-shopcart li:hover,
.list-shopcart li:focus {
  background-color: #eee;
}
.list-shopcart li .row > div {
  display: table-cell;
  padding-top: 8px;
  padding-bottom: 8px;
}
.list-shopcart img {
  max-height: 60px;
  width: auto;
}
.list-shopcart .link {
  color: #383838;
}
.list-shopcart .update-cart {
  max-width: 40px;
  text-align: center;
  border: 1px solid #cfcfcf;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.list-shopcart .delete-from-cart {
  color: #383838;
}
.list-shopcart .delete-from-cart:hover,
.list-shopcart .delete-from-cart:focus {
  color: #d03939;
}
.shopcart-display .no-items {
  font-size: 18px;
  text-align: center;
}
#shopcart-summary {
  font-size: 18px;
}
.shopcart-collapsable {
  border: 1px solid #000;
  padding: 0 20px;
}
.shopcart-collapsable h2.form-header {
  background: #383838;
  color: #fff;
  padding: 10px 22px;
  font-size: 16px;
  margin: 0 -20px 20px;
}
.shopcart-collapsable fieldset {
  padding-bottom: 20px;
}
.list-invoice {
  margin-bottom: -1px;
}
#order-person-select {
  padding: 0 15px;
}
#order-person-select input {
  display: inline-block;
  margin-right: 10px;
}
.invoice-bottom-padded {
  padding-bottom: 20px;
}
#order-summary .total {
  padding-top: 10px;
  padding-bottom: 10px;
  background: #383838;
  color: #fff;
  margin: 0 -20px 0;
  font-size: 20px;
}
#order-final {
  padding: 10px 0 5px;
}
#order-final p {
  padding: 15px 0;
}
.account-menu {
  padding-left: 0;
}
.account-menu li {
  list-style-type: none;
}
.account-menu a {
  color: #383838;
}
.jquery-lightbox-background {
  background: #fff;
}
