@import "config.less";

@font-face {
    .font-face(@default-regular-font, 'pt-sans');
}

@import "layout.less";
@import "404.less";
@import "contact.less";
@import "login.less";
@import "offer.less";
@import "categories.less";
@import "products.less";
@import "product.less";
@import "shopcart.less";
@import "order.less";
@import "account.less";

@import "plugins/lightbox/carbono/jquery.lightbox.css";
.jquery-lightbox-background {
    background: #fff;
}